<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

  </startup>
  <appSettings>
    <add key="DataSource" value="JSON"/>
    <add key="JSONFilePath" value= "..\JSONFile\coding-assigment-orders.json"/>
    <add key="Flight-schedule" value= "..\Input\flight-schedule.txt"/>
  </appSettings>
</configuration>